<footer class="hpadding-small vpadding-mid bg-white">
    <div class="content-width text-centered">
        <section class="section navigation">
            <p><a href="/" class="hover-text-theme">home</a><a href="/about/" class="hover-text-theme">about</a><a href="/events/" class="hover-text-theme">events</a><a href="/stash/" class="hover-text-theme">stash</a><a href="/workshops/" class="hover-text-theme">workshops</a></p>
            <p>
                {% for social_link in site.data.social_media_links %}
                    <a class="hover-text-theme" href="{{ social_link.url }}" target="_blank" rel="nofollow"><i class="fab {{ social_link.icon }}"></i></a>
                {% endfor %}
            </p>
        </section>
        <section class="section copyright">
            <p>Copyright © 2016-{{ site.time | date: '%Y' }} Loughborough Technology Society</p>
            <p>
                <span>Website by William Baker</span><br>
                <span>Logo by Henry White</span>
            </p>
        </section>
    </div>
</footer>