<!DOCTYPE html>
<html dir="ltr" lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name=viewport content="width=device-width, initial-scale=1">

        <meta name="author" content="William Baker, loughborough.tech Committee">
        
        <title>{{ page.title }}</title>
        
        <link rel="stylesheet" href="">
    </head>
    
    <body>
        {% include header.html %}
        
        {% include footer.html %}
    </body>
</html>