---
layout: default
title: Workshops | TechSoc
permalink: /workshops
---

<style>
    .workshops-container img
    {
        height: 150px;
    }
</style>

<div class="header-height"></div>
<h1 class="title">Workshops</h1>
<div class="workshops-container content-width hpadding-small vpadding-mid">
    <div class="column-container">

        {% for workshop in site.pages %}
        {% if workshop.categories contains 'workshop' %}
        <div class="column l4 m12 padding-small">
            <div class="card card-hover">
                <div class="card-content padding-small text-centered">
                    <img src="/resources/images/technologies/{{ workshop.image }}">
                </div>
                <div class="card-content padding-small">
                    <h4>{{ workshop.title }}</h4>
                    <p><small>{{ workshop.eventDate }}</small></p>
                </div>
                <div class="card-content padding-small text-centered">
                    <a href="{{ workshop.url }}"><button>View Workshop</button></a>
                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}

    </div>
</div>