<!DOCTYPE html>
<html dir="ltr" lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name=viewport content="width=device-width, initial-scale=1">

        <meta name="author" content="William Baker, loughborough.tech Committee">
        
        <title>{{ page.title }}</title>
        
        <link rel="stylesheet" href="/styles/main.css">

        <link href="https://use.fontawesome.com/releases/v5.0.2/css/all.css" rel="stylesheet">

        <script src="/resources/scripts/bundle.js" defer></script>
        <script src="/resources/external/paper.js" defer></script>
    </head>
    
    <body>
        {% include header.html %}
        {{ content }}
        {% include footer.html %}
    </body>
</html>